<template>
  <div id="app">
    <div class="container">
      <p>Add item</p>
      <div>
        <input type="text" v-on:keyup.enter="addTodo()" v-model="activeTodo">
        <button class="add-btn" v-on:click="addTodo()">Add!</button>
      </div>

      <p>In progress todos</p>
      <ul>
        <li v-for="todo in todosList" :key="todo.id">
          <div v-if="todo.isComplete === false">
            <input type="checkbox" value="" v-on:click="toggleTodo(todo.id)"/>
            {{ todo.text }}
          </div>
        </li>
      </ul>

      <p>Completed todos</p>
      <ul>
        <li v-for="todo in todosList" :key="todo.id">
          <div v-if="todo.isComplete === true">
            <input type="checkbox" value="" v-on:click="toggleTodo(todo.id)" checked/>
            {{ todo.text }}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      activeTodo: '',
      todoId: 0,
      todosList: []
    }
  },
  methods: {
    addTodo() {
      this.todosList.push({id: this.todoId, isComplete: false, text: this.activeTodo})
      this.todoId += 1
      this.activeTodo = ''
    },
    toggleTodo(id) {
      this.todosList[id].isComplete = !this.todosList[id].isComplete
    }
  }
}
</script>

<style>
.container {
  background: #77d8d3;
  font-family: Georgia, serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
}

.container ul {
  padding: 0;
}

.container ul li {
  list-style: none;
  padding: 5px 0;
}

.add-btn {
  margin: 0 10px;
}
</style>
